.selected {
  border: 4px solid red;
}

.thumbnail-chooser-box {
  height: 17vh !important;
  max-height: 17vh !important;
}

.thumbnail-chooser-box ul {
  white-space: nowrap !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  max-height: 17vh !important;
}

.thumbnail-chooser-box ul li {
  display: inline !important;
  list-style-type: none !important;
  margin-right: 1vw !important;
}

.thumbnail-image {
  height: 15vh !important;
}
